cnn-text-classification-tf-master.zip
twitter-datasets.zip
train_neg_full.txt
train_pos_full.txt
GoogleNews-vectors-negative300.bin
GoogleNews-vectors-negative300.bin.gz
project_text_classification/runs
